
*{
    box-sizing: border-box;
}
body,html{
    height:100%;
    margin:0;
    padding:0;
    font-family: Sans-Serif, serif;


}

h1{
    font-size:50px;
    text-transform: full-size-kana;
    margin:0;
}

h2{
    font-size:35px;
    text-transform: full-size-kana;
    margin:0;
}


.baggrundsbillede{
    background-image: url("../April 07, 2022.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;

}

.baggrundstext{
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-5%,-70%);
    z-index: 5;
    width: 35%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(87, 0, 0, 0.3);
    color: #f5f1f1;
    font-weight: lighter; /* effekt på cpr og adgangskode */
    // border: 10px inset rgba(236, 155, 155, 0.5);

}

.Titel{
    text-align: right;
    position: absolute;
    top: 35%;
    bottom: 35%;
    width: 89%;
    color: rgba(87, 0, 0, 0.3);
    font-weight: bold;




}



