
*{
    box-sizing: border-box;
}
body,html{
    height:100%;
    margin:0;
    padding:0;
    font-family: Sans-Serif, serif;
    overflow-y: hidden;
    overflow-x: hidden;
}


.baggrundsbillede{
    background-image: url("../April 07, 2022.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    filter: blur(2px);

}

.Titel{
    text-align: center;
    position: absolute;
    top: 10%;
    bottom: 90%;
    width: 100%;
    color: rgba(87, 0, 0, 0.3);
    font-weight: bold;
}


.table{
    position: center;
    background-color: transparent;
}

.th{
    border: 3px solid #0c0000;
    background-color: transparent;
}

.td{
    border: 3px solid black;
    background-color: transparent;
}

#tabel{
    align-table: center;
    margin-top: 20px;
    margin-left: 2px;
    background-color: transparent;
}


.knap { display: none; }

.knap + label {
    cursor: pointer;
    position: absolute;
    right: 83em;
    bottom: 1em;
    background-color: rgba(224, 123, 123, 0.5);
    height: 90px;
    width: 90px;
    border-radius: 25%;
    z-index: 2;
}

.knap + label:before, .knap + label:after {
    position: absolute;
    content: '';
    height: 10px;
    width: .10em;
    background-color: #f3f0f0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .25em;
    transition: all .30s;

}

.knap + label:before {
    height: 35px;
    width: .30em;
}

.knap+ label:after {
    width: 35px;
    height: .35em;
}

.knap:checked + label:before { transform: rotatez(-45deg); }

.knap:checked + label:after { transform: rotatez(-45deg); }

.one, .two, .three {
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 70em;
    bottom: 7em;
    padding: 2em;
    width: 1em;
    height: 1em;
    border-radius: 25%;
    opacity: 0;
    z-index: 1;
    transform: rotateZ(90deg);
    font-size: 1em;
    color: #f3f0f0;
    transition-property: all;
    transition-duration: .50s;
    display: flex;
    justify-content:center;
    align-items: center; /* placering af tekst inde i boksene */
}

.knap:checked ~ .one, .knap:checked ~ .two, .knap:checked ~ .three { opacity: 1; }

.knap:checked ~ .one {
    background-color: rgba(65, 1, 1, 0.5);
    transform: translateX(-13em);
    transition-delay: .2s;
}

.knap:checked ~ .two {
    background-color: #d25757;
    transform: translateX(-13em) translateY(-6.5em);
    transition-delay: .1s;
}

.knap:checked ~ .three {
    background-color: #d33838;
    transform: translateX(-13em) translateY(-13em);
}

.knap:checked ~.one:hover, .knap:checked ~ .two:hover, .knap:checked ~ .three:hover { opacity: .9; }